*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: antiquewhite;

}




input:enabled{
    background-color: white;
}


.boton:hover{
    background-color: green ;
    color: white;
}

.boton:active{
    background-color: orange;
    
}


textarea:enabled{
    background-color: white;
}
