*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: antiquewhite;

}

header h1{
    background-image: url(../img/Guirnalda.png) ;
    padding: 1% ;
    margin: 1%;
    color: red ;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;

}

li{
    display: inline-block;
}

input:enabled{
    background-color: white;
}


.boton:hover{
    background-color: green ;
    color: white;
}

.boton:active{
    background-color: orange;
    
}


textarea:enabled{
    background-color: white;
}
